body{
	/* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  /*background-color: #464646;*/
  background: transparent url('/images/IMG_20151004_115224.jpg');
}

.bs-docs-nav{
	margin-bottom: 0;
}
.bs-docs-header{
	/*background-color: #6f5499;*/
	/*background: transparent url('/images/kitten.png');*/
	background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bs-docs-header .container h1{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	font-size: 60px;
}